# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# Brackets stuff
/bower_components/
/node_modules/

# Documentation
/jsDocInitalDoc/jsDocInitalDoc.txt

# Code stubs
/codeStubs/
